 /*GLOBAL-PROPERTIES*/
 body {
     font-family: "Proxima-Nova-Rg", sans-serif;
 }
 
.js-popup-close-general {
    display: none !important;
}
// .js-popup-open-general {
//    display: flex !important;
// }
 //Cлайдер
 .swiper-container {
   width: 100%;
 }
//Центровка контейнера
.centering {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
//Заголовки секций
.section-header {
  text-align: center;
  border-bottom: 1px solid #cbcbcb;
  position: relative;
  .section-title {
      font-family: "Proxima-Nova-Lt", sans-serif;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      padding-top: 50px;
      padding-bottom: 19px;
      letter-spacing: 1px;
  }
}
.section-header::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: black;
  bottom: -1px;
  left: 50%;
  margin-left: -20px;
}
@media (max-width: 768px) {
    .section-header {
        .section-title {
            font-family: "Proxima-Nova-Rg", sans-serif;
            font-weight: normal;
            font-size: 22px;
            line-height: 42px;
            padding-bottom: 10px;
        }
      }
}
//Кнопки для слайдера
.swiper-button {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: 503px;
  .swiper-button__next {
      width: 56px;
      height: 56px;
      background-color: white;
      border-radius: 50%;
      position: relative;
  }
  .swiper-button__next::before,
  .swiper-button__next::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 2px;
      background-color: #2d1e2f;
      top: 50%;
      left: 50%;
  }
  .swiper-button__next::before {
      transform: rotate(45deg);
      margin-top: -6px;
      margin-left: -7px;
  }
  .swiper-button__next::after {
      transform: rotate(-45deg);
      margin-top: 3px;
      margin-left: -6px;
  }
  .swiper-button__prev {
      width: 56px;
      height: 56px;
      background-color: white;
      border-radius: 50%;
      position: relative;
      margin-right: 5px;
  }

  .swiper-button__prev:hover,
  .swiper-button__next:hover {
      background-color: #4a4f52;
      transition: 0.3s;
      cursor: pointer;
  }
  .swiper-button__prev::before,
  .swiper-button__prev::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 2px;
      background-color: #2d1e2f;
      top: 50%;
      left: 50%;
  }
  .swiper-button__prev::before {
      transform: rotate(-45deg);
      margin-top: -6px;
      margin-left: -7px;
  }
  .swiper-button__prev::after {
      transform: rotate(45deg);
      margin-top: 3px;
      margin-left: -6px;
  }
  .swiper-button__prev:hover::before,
  .swiper-button__prev:hover::after,
  .swiper-button__next:hover::before,
  .swiper-button__next:hover::after {
      background-color: white;
      transition: 0.3s;
  }
}
//Скрытие блоков
@media (max-width: 1279px) {
    .hidden-tablet {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .hidden-mobile {
        display: none !important;
    }
}
@media (min-width: 1279px) {
    .hidden-desktop {
        display: none !important;
    }
}