.popup-recovery {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    .popup-recovery__centering {
        width: 531px;
        height: 397px;
        background-color: white;
        position: relative;
        margin: auto;

        .popup-recovery__close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 25px;
            height: 25px;
            cursor: pointer;

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 23px;
                height: 5px;
                top: 8px;
                left: 1px;
                background-color: black;
            }

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }

        .popup-header {
            padding-top: 60px;
            width: 441px;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid #cccccc;
            padding-bottom: 25px;
            position: relative;
            margin-bottom: 45px;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 1px;
                background-color: black;
                bottom: -1px;
                left: 50%;
                margin-left: -15px;
            }

            .popup-header__title {
                font-family: "Proxima-Nova-Lt", sans-serif;
                font-weight: 300;
                font-size: 36px;
                line-height: 42px;
            }

        }

        .fieldset-email {
            width: 441px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 45px;
            position: relative;

            .label-email {
                padding-bottom: 5px;
                font-size: 17px;
                line-height: 18px;

            }

            .input-email {
                width: 96%;
                border: 1px solid #cbcbcb;
                border-radius: 0;
                height: 39px;
                font-size: 17px;
                line-height: 18px;
                padding-left: 15px;
                color: #2e3237;
                outline: 0;
            }

            input::-webkit-input-placeholder {
                color: #2e3237;
            }
        }

        .button__inner {
            border: 3px solid #009999;
            transition: 0.3s;
            width: 441px;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                border: 3px solid #26a9a9;
                transition: 0.3s;
            }

            .button-recovery {
                font-family: "Proxima-Nova-Lt", sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
                outline: 1px solid #9cd7d7;
                border: 0px;
                background-color: #009999;
                width: 100%;
                height: 51px;
                transition: 0.3s;

                &:hover {
                    outline: 1px solid #c2e7e7;
                    background-color: #26a9a9;
                    cursor: pointer;
                    transition: 0.3s;
                }
            }
        }

        .forgotten-password {
            padding-top: 15px;
            display: flex;
            justify-content: center;
            color: #656565;
            font-size: 14px;
            line-height: 18px;

            .forgotten-password__text {
                margin-right: 21px;
            }

            .forgotten-password__button {
                border-bottom: 2px dotted #2e3237;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    opacity: 0.5;
                    transition: 0.3s;
                }
            }
        }
    }
    #name-error,
                #family-error,
                #email-error,
                #password-error,
                #agreement-error {
                    color: red;
                    position: absolute;
                    font-size: 14px;
                    bottom: -14px;
                    left: 0;
                    border: 0px !important;
                }

                .error {
                    border: 1px solid red !important;
                }
                .label-error {
                    color: red;
                }
}

@media (max-width: 1279px) {
    .popup-recovery {
        .popup-recovery__centering {
            width: 370px; 
            height: 325px; 

            .popup-recovery__close {
                top: 15px; 
                right: 15px; 
            }

            .popup-header {
                padding-top: 40px; 
                width: 290px; 
                padding-bottom: 15px; 
                margin-bottom: 30px; 

                .popup-header__title {
                    font-size: 24px; 
                }

            }

            .fieldset-email {
                width: 290px; 
                margin-bottom: 30px; 

                .label-email {
                    padding-bottom: 5px;
                    font-size: 14px; 

                }

                .input-email {
                    height: 27px; 
                    font-size: 14px; 
                    padding-left: 9px;
                }
            }

            .button__inner {
                border: 2px solid #009999; 
                width: 290px; 
                margin-top: 33px; 

                &:hover {
                    border: 2px solid #26a9a9; 
                }

                .button-recovery {
                    font-size: 12px; 
                    height: 33px; 
                }
            }

            .forgotten-password {
                padding-top: 12px;
                font-size: 12px; 
            }
        }
    }
}
@media (max-width: 767px) {
    .popup-recovery {
        .popup-recovery__centering {
            width: 290px; 
            height: 290px; 

            
            .popup-recovery__close {
                width: 20px;
                height: 20px;

                &::after,
                &::before {
                    width: 20px;
                }
            }

            .popup-header {
                padding-top: 30px; 
                width: 252px; 
                padding-bottom: 5px; 
                margin-bottom: 30px; 
                &::before {
                    width: 20px;
                    left: 50%;
                    margin-left: -10px;
                }
                .popup-header__title {
                    font-size: 22px; 
                }

            }
            .fieldset-email {
                width: 252px; 
                margin-bottom: 0px; 
            }
            .button__inner {
                width: 252px; 
                margin-top: 30px; 
            }
        }
    }
}