.popular-filter-main {
    .bread-crumb {
        display: none;
    }
}

@media (max-width: 767px) {
    .popular-filter-main {
        .bread-crumb {
            display: block;
            border-top: 1px solid #d7d7d7;
            background-color: #f3f4f5;
            min-height: 40px;
        }

        .bread-crumb__link {
            color: #666666;
            text-decoration: none;
            font-size: 13px;
            background-image: url(../../assets/images/arrow-back.png);
            background-repeat: no-repeat;
            background-position: 16px center;
            padding-left: 62px;
            line-height: 40px;
        }
    }
}