.styles-section {
    background-color: #f8f8f9;

    .centering {
        padding-bottom: 88px;
    }

    .swiper-container {
        height: 610px;
    }

    .centering {
        display: flex;
        margin-top: 55px;
        position: relative;

        .swiper-button-next,
        .swiper-button-prev {
            left: -10000px;
        }
    }
}

.swiper-slide:nth-child(even) {
    .styles-list-one {
        .styles-list__elem {
            margin-top: 0px;

            &::after {
                top: 5px;
            }
        }

        .styles-text__elem_down {
            margin-top: 11px;
        }
    }
}

.swiper-slide:nth-child(odd) {
    .styles-list-one {
        .styles-list__elem {

            &::after {
                top: 2px;
            }
        }

        .styles-text__elem_down {
            margin-top: 6px;
        }
    }
}

.swiper-slide:nth-child(even) {
    .styles-list-two {
        .styles-list__elem {
            margin-top: 0px;

            &::after {
                top: 9px;
            }
        }

        .styles-text__elem_down {
            margin-top: 20px;
        }
    }
}

.swiper-slide:nth-child(odd) {
    .styles-list-two {
        .styles-list__elem {
            margin-top: 0px;

            &::after {
                top: 10px;
            }
        }

        .styles-text__elem_down {
            margin-top: 20px;
        }
    }
}

.styles-list {
    position: relative;
    background-size: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        padding-top: 47%;
        background-color: black;
        opacity: 0.6;
        position: relative;
        transition: opacity 1s ease 0s;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: inherit;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transform: scale(1);
        transition: transform 1s ease 0s;
    }

    .styles-list__elem {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        color: white;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            width: 40px;
            background-color: white;
            margin: 0 auto;
        }
    }

    .styles-text__elem {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0px 20px;

        &_up {
            font-family: "Proxima-Nova-Rg", sans-serif;
            font-size: 18px;
            line-height: 25px;
            bottom: 100%;
        }

        &_down {
            font-family: "Proxima-Nova-Lt", sans-serif;
            font-weight: 600;
            font-size: 22px;
            line-height: 29px;
            top: 100%;
        }
    }

    &:hover {
        &::before {
            transform: scale(1.5);
        }

        &::after {
            opacity: 0.8;
        }
    }
}

.styles-list-one:not(:last-child) {
    .styles-list {
        margin-bottom: 44px;
    }
}

.styles-list-one:last-child {
    .styles-list {
        margin-top: 44px;
    }
}

.styles-list-two {
    display: flex;

    .styles-list {
        width: 50%;

        &::after {
            padding-top: 101%;
        }
    }

    .styles-list:not(:last-child) {
        width: 50%;
        margin-right: 39px;
    }
}

@media (max-width: 1279px) {
    .styles-section {
        .centering {
            width: 92%;
        }

        .swiper-button {
            position: absolute;
            display: flex;
            top: 50%;
            left: 85%;
            margin-top: -15px;
            margin-left: 0px;
        }

        .swiper-container {
            height: auto;
        }

        .styles-text__elem {

            padding: 0px 20px;

            &_up {
                font-family: "Proxima-Nova-Rg", sans-serif;
                font-size: 16px;
                line-height: 20px;
                bottom: 100%;
            }

            &_down {
                font-family: "Proxima-Nova-Lt", sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                top: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .styles-section {
        .centering {
            margin-top: 100px;
        }

        .swiper-button {
            left: 50%;
            margin-top: 70px;
            margin-left: -60px;
        }

        .swiper-container {
            padding-bottom: 120px;
        }
    }

    .styles-list {
        position: relative;
        background-size: 0 0;
        background-repeat: no-repeat;
        overflow: visible !important; //

        &::after {
            content: '';
            display: block;
            padding-top: 49%; //
            background-color: transparent;
            opacity: 0.6;
            position: relative;
            transition: opacity 1s ease 0s;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: inherit;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            transform: scale(1);
            transition: transform 1s ease 0s;
        }

        .styles-list__elem {
            position: absolute;
            left: 0;
            right: 0;
            top: 49vw; //
            color: black;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 1px;
                width: 40px;
                background-color: black;
                margin: 0 0; //
            }
        }

        .styles-text__elem {
            position: absolute;
            left: 0;
            right: 0;
            text-align: left; //
            padding: 0px 0px; //

            &_up {
                font-family: "Proxima-Nova-Rg", sans-serif;
                font-size: 14px;
                line-height: 18px;
                bottom: 100%;
            }

            &_down {
                font-family: "Proxima-Nova-Lt", sans-serif;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                top: 100%;
            }
        }

        &:hover {
            &::before {
                transform: scale(1);
            }
        }

    }

    .swiper-slide:nth-child(even) {
        .styles-list-one {
            .styles-list__elem {
                margin-top: 0px;

                &::after {
                    top: 5px;
                }
            }

            .styles-text__elem_down {
                margin-top: 11px;
            }
        }
    }

    .swiper-slide:nth-child(odd) {
        .styles-list-one {
            .styles-list__elem {

                &::after {
                    top: 2px;
                }
            }

            .styles-text__elem_down {
                margin-top: 6px;
            }
        }
    }

    @media (max-width: 670px) {
        .styles-list {
            .styles-list__elem {
                position: absolute;
                left: 0;
                right: 0;
                top: 49vw; //
                color: black;
                z-index: 1;
            }
        }
    }
    @media (max-width: 630px) {
        .styles-list {
            .styles-list__elem {
                position: absolute;
                left: 0;
                right: 0;
                top: 50vw; //
                color: black;
                z-index: 1;
            }
        }
    }
    @media (max-width: 500px) {
        .styles-list {
            .styles-list__elem {
                position: absolute;
                left: 0;
                right: 0;
                top: 51vw; //
                color: black;
                z-index: 1;
            }
        }
    }
    @media (max-width: 360px) {
        .styles-list {
            .styles-list__elem {
                position: absolute;
                left: 0;
                right: 0;
                top: 52vw; //
                color: black;
                z-index: 1;
            }
        }
    }

    .styles-list-two {
        .styles-list__elem {
            top: 52vw; //

            &::after {
                width: 21px; //
            }
        }
    }

    @media (max-width: 650px) {
        .styles-list-two {
            .styles-list__elem {
                top: 53vw;
            }
        }
    }

    @media (max-width: 574px) {
        .styles-list-two {
            .styles-list__elem {
                top: 54vw;
            }
        }
    }

    @media (max-width: 500px) {
        .styles-list-two {
            .styles-list__elem {
                top: 55vw;
            }
        }
    }

    @media (max-width: 446px) {
        .styles-list-two {
            .styles-list__elem {
                top: 57vw;
            }
        }
    }

    @media (max-width: 398px) {
        .styles-list-two {
            .styles-list__elem {
                top: 58vw;
            }
        }
    }

    @media (max-width: 340px) {
        .styles-list-two {
            .styles-list__elem {
                top: 59vw;
            }
        }
    }

    .styles-list-two .styles-list:after {
        padding-top: 100%;
    }

    .styles-list-one:not(:last-child) {
        .styles-list {
            margin-bottom: 85px;
        }
    }

    .styles-list-one:last-child {
        .styles-list {
            margin-top: 85px;
        }
    }

    .styles-list-two {
        .styles-list:not(:last-child) {
            margin-right: 6px;
        }
    }
}