
.popup-success {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    .popup-success__centering {
        width: 531px;
        height: 389px;
        background-color: white;
        position: relative;
        margin: auto;

        .popup-success__close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 25px;
            height: 25px;
            cursor: pointer;

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 23px;
                height: 5px;
                top: 8px;
                left: 1px;
                background-color: black;
            }

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }

        .popup-header {
            padding-top: 53px;
            width: 441px;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid #cccccc;
            padding-bottom: 16px;
            position: relative;
            margin-bottom: 37px;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 1px;
                background-color: black;
                bottom: -1px;
                left: 50%;
                margin-left: -20px;
            }

            .popup-header__title {
                font-family: "Proxima-Nova-Lt", sans-serif;
                font-weight: 300;
                font-size: 36px;
                line-height: 42px;
            }

        }
        .popup-success__text {
            text-align: center;
            font-size: 17px;
            line-height: 18px;
            margin-bottom: 50px;
            padding-left: 45px;
                padding-right: 45px;
        }
        .popup-success__img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}
@media (max-width: 1279px) {
    .popup-success {

        .popup-success__centering {
            width: 370px;
            height: 329px;
    
            .popup-success__close {
                top: 15px; 
                right: 15px; 
            }
    
            .popup-header {
                padding-top: 40px;
                width: 290px;
                padding-bottom: 10px;
                margin-bottom: 30px;
    
                .popup-header__title {
                    font-size: 24px;
                }
    
            }
            .popup-success__text {
                font-size: 14px;
                margin-bottom: 40px;
                padding-left: 40px;
                padding-right: 40px;
            }
            .popup-success__img {
                width: 100px;
                height: 77px;
            }
        }
    }
}
@media (max-width: 767px) {
    .popup-success {

        .popup-success__centering {
            width: 290px;//
            height: 276px;//
    
            .popup-success__close {
                width: 20px;//
                height: 20px;//

                &::after,
                &::before {
                    width: 20px;//
                } 
            }
    
            .popup-header {
                padding-top: 30px;//
                width: 252px;//
                padding-bottom: 10px;
                margin-bottom: 30px;
                &::before {
                    width: 20px;//
                    left: 50%;//
                    margin-left: -10px;//
                }
                .popup-header__title {
                    font-size: 22px;//
                }
    
            }
            .popup-success__text {
                margin-bottom: 30px;//
                padding-left: 20px;//
                padding-right: 20px;//
            }
            .popup-success__img {
                width: 88px;//
                height: 68px;//
            }
        }
    }
}